:root {
  --adoce-pink: #e92f80;
  --adoce-pink-2: #f03891;
  --adoce-bg: #fbe3ea;
  --adoce-bg-soft: #fceef2;
  --adoce-chocolate: #5a211c;
  --adoce-chocolate-2: #64231e;
  --adoce-cream: #fff7ed;
  --adoce-cream-2: #fff3ea;
  --adoce-gold: #d59b3d;
  --adoce-border: #e9b9b0;
}
